.venv/
__pycache__/
*.pyc
*.zip
.DS_Store
output.json
response.json
response_premium.json
samconfig.toml
.aws-sam/
package/
python/
lambda_layer/
payload_std.json
payload_exp.json
payload_prm.json
payload_exp2.json
payload_prm2.json
payload.json
payload_premium.json
